<div id="search-div" class="align-center">
  <div id="search-criteria-div" class="align-center">
    <div id="start-index-div" class="criteria-field">
      <label id="start-index-label" for="start-index-input">Starting Index:</label>
      <input id="start-index-input" type="number" class="criteria-input no-border rounded-corners align-center"
             [(ngModel)]="this.startIndex" (change)="setEndIndex()">
    </div>
    <div id="end-index-div" class="criteria-field">
      <label id="end-index-label" for="end-index-input">Ending Index:</label>
      <div id="end-index-input-div">
        <input id="end-index-input" type="number" class="criteria-input no-border rounded-corners"
               [(ngModel)]="this.endIndex" [disabled]="!this.useEndIndex" [min]="this.startIndex">
        <input id="use-end-index-checkbox" type="checkbox" class="no-border" [(ngModel)]="this.useEndIndex">
      </div>
    </div>
  </div>
  <div id="submit-button-div">
    <button id="submit-button" (click)="submit();" class="submit-button">Submit</button>
  </div>
</div>
<div id="search-results-div">
  <wow-list [wows]="wows"></wow-list>
</div>
