<div id="random-wow">
    <p>Movie Title: {{randomWow.movie}}</p>
    <p>Release Year: {{randomWow.year}}</p>
    <p>Release Date: {{randomWow.release_date}}</p>
    <p>Director: {{randomWow.director}}</p>
    <p>Owen Wilson's Character: {{randomWow.character}}</p>
    <p>Movie Duration: {{randomWow.movie_duration}}</p>
    <p>Timestamp for the Wow: {{randomWow.timestamp}}</p>
    <p>Full line that the Wow appears in: {{randomWow.full_line}}</p>
    <p># of Wows at this point in the movie: {{randomWow.current_wow_in_movie}}</p>
    <p># of Wows in the movie: {{randomWow.total_wows_in_movie}}</p>
    <p>Poster link: {{randomWow.poster}}</p>
    <div>
        <p>Video Options:</p>
        <p>1080p: {{randomWow.video['1080p']}}</p>
        <p>720p: {{randomWow.video['720p']}}</p>
        <p>480p: {{randomWow.video['480p']}}</p>
        <p>360p: {{randomWow.video['360p']}}</p>
    </div>
    <p>Audio link: {{randomWow.audio}}</p>
</div>
