.nav-button {
    padding: 15px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    transition: 500ms;

    &:hover {
        transition: 300ms;
        background-color: #ddd;
    }
}

.current-tab {
    transition: 300ms;
    border-bottom: 1px solid black;
}
