
div#search {
    box-shadow: 0px 0px 10px 0px var(--shadowColour);
    background-color: var(--backgroundColour);
    color: var(--textColour);

    display: flex;
    flex-direction: column;

    margin-bottom: 1%;
}

div#search-criteria {
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#submit {
    
    margin-bottom: 1%;
    
    display: flex;
    justify-content: center;
}

.submit-button {
    color: var(--textColour);
    background-color: rgba(125, 125, 125, 0.3);
    padding: 10px 10px 12px 12px;
    border: none;
    border-radius: 8px;

    &:hover {
        transition: 300ms;
        background-color: rgba(75, 75, 75, 0.3);
    }
}

.criteria-field {
    display: flex;
    flex-direction: column;

    padding-left: 15px;
    padding-right: 15px;
}

.criteria-input {
    color: var(--inputTextColour);
    background-color: var(--inputBackgroundColour);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    transition: 500ms;

    &:hover {
        transition: 500ms;
        box-shadow: var(--inputHighlightShadow);
    }
}

.always-max-width {
    min-width: 100%;
}