div#settings {
    color: var(--textColour);
    background-color: var(--backgroundColour);
}

.settings-input {
    color: var(--inputTextColour);
    background-color: var(--inputBackgroundColour);
}