#wow-details {
    margin-bottom: 1%;
    max-width: 120rem;
    max-height: 35rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    color: var(--textColour);
    cursor: pointer;
    transition: .2s;

    overflow: auto;
    display: flex;
    grid-template-columns: auto auto;

    &:hover {
        transform: scale(0.994);
        box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.3);
    }
}

#details-column {
    margin-left: 1%;
    margin-right: 1%;
    min-width: 50%;
    max-width: 55%;

    flex-direction: column;
}

#title-row {
    flex-wrap: wrap;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

#other-details {
    float: left;

    min-width: 50%;
    max-width: 80%;

    height: auto;
}

#poster-column {
    width: auto;
    min-width: 20%;
    max-width: 45%;
    height: auto;

    margin-left: 10%;

    overflow: hidden;
}

#poster-image {
    display: block;
    width: 100%;
    height: auto;
}
