@import 'app/styles/themes.scss';

button:active {
    transition: 100ms;
    background-color: var(--btnBgColourActive);
}

.no-border {
    border-style: none;
}

.rounded-corners {
    border-radius: 5px;
}

.align-center {
    align-items: center;
}
