<div id="search">
    <div id="search-criteria">
        <div id="results" class="criteria-field">
            <label for="list-results" class="always-max-width">Results to get:</label>
            <input type="number" id="list-results" [(ngModel)]="this.results" class="criteria-input">
        </div>

        <div id="year" class="criteria-field">
            <label for="year" class="always-max-width">Year of movie release:</label>
            <input type="text" id="year" class="always-max-width" [(ngModel)]="this.year" class="criteria-input">
        </div>

        <div id="movie-name" class="criteria-field">
            <label for="movie-name" class="always-max-width">Name of movie:</label>
            <select name="movie-name" id="movie-name" [(ngModel)]="this.movieName" class="criteria-input">
                <option value="">N/A</option>
                <option *ngFor="let movieName of this.movieNames" value="{{movieName}}">{{movieName}}</option>
            </select>
        </div>

        <div id="director-name" class="criteria-field">
            <label for="director-name" class="always-max-width">Name of director:</label>
            <select name="director-name" id="director-name" [(ngModel)]="this.directorName" class="criteria-input">
                <option value="">N/A</option>
                <option *ngFor="let directorName of this.directorNames" value="{{directorName}}">
                    {{directorName}}
                </option>
            </select>            
        </div>

    </div>
    <div id="submit">
        <button (click)="submit();" class="submit-button">Submit</button>
    </div>
</div>
<div id="search-results">
    <wow-list [wows]="wows"></wow-list>
</div>
