<div id="search-criteria">
    <input type="number" id="list-results" [(ngModel)]="this.results">
    <input type="text" id="year" [(ngModel)]="this.year">
    <select name="movie-name" id="movie-name" [(ngModel)]="this.movieName">
        <option value="">N/A</option>
        <option *ngFor="let movieName of this.movieNames" value="{{movieName}}">{{movieName}}</option>
    </select>
    <select name="director-name" id="director-name" [(ngModel)]="this.directorName">
        <option value="">N/A</option>
        <option *ngFor="let directorName of this.directorNames" value="{{directorName}}">
            {{directorName}}
        </option>
    </select>
    <button (click)="submit();">Submit</button>
</div>
<div id="search-results">
    <wow-list [wows]="wows"></wow-list>
</div>